<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
     point="org.eclipse.ui.popupMenus">
	  <objectContribution
	        id="org.rosi.crom.validation.contribution1"
	        nameFilter="*.crom"
	        objectClass="org.eclipse.core.resources.IFile">
	   <menu
	       label="Validation"
	       path="additions"
	       id="org.rosi.crom.validation.menu">
	    <separator
	          name="validate">
	    </separator>
	     </menu>
	     <action
	           class="org.rosi.crom.validation.popup.actions.ValidateAction"
	           id="org.rosi.crom.validation.ValidateAction"
	           label="Validation"
	           menubarPath="org.rosi.crom.validation.menu"
	           tooltip="Validates the CROM for Well-Formedness">
	     </action>
	 	</objectContribution>
    </extension>
	<extension
	       id="validationmarker"
	       name="CROM Validation Marker"
	       point="org.eclipse.core.resources.markers">
	    <super
	          type="org.eclipse.core.resources.problemmarker">
	    </super>
	    <super
	          type="org.eclipse.core.resources.textmarker">
	    </super>
	    <persistent
	          value="true">
	    </persistent>
	    <attribute
        	name="problemType">
        </attribute>
		<attribute
        	name="baseElement">
        </attribute>
	</extension>
	<extension
      point="org.eclipse.jdt.ui.quickFixProcessors">
   		<quickFixProcessor
         class="org.rosi.crom.validation.quickfix.ValidationQuickFixProcessor"
         id="org.eclipse.jdt.ui.text.correction.QuickFixProcessor"
         name="CROM Quick Fix Processor">
	      	<handledMarkerTypes>
		         <markerType
		               id="org.rosi.crom.validation.validationmarker">
		         </markerType>
	      	</handledMarkerTypes>
   		</quickFixProcessor>
	</extension>
 <extension
       point="org.eclipse.jdt.ui.quickFixProcessors">
    <quickFixProcessor
          class="org.rosi.crom.validation.quickfix.QuickFixProcessor1"
          id="org.rosi.crom.validation.quickFixProcessor1"
          problemType="org.rosi.crom.validation.validationmarker">
    </quickFixProcessor>
 </extension>
 
 <extension
	point="org.eclipse.ui.ide.markerResolution">
	<markerResolutionGenerator
		markerType="org.eclipse.jdt.core.problem"
		class="org.rosi.crom.validation.quickfix.ValidationMarkerResolution">
	</markerResolutionGenerator>
</extension>
</plugin>
