/.FeatureMappingRuntimeModule.xtendbin
/.OclMappingRuntimeModule.xtendbin
/.OclMappingStandaloneSetup.xtendbin
/FeatureMappingRuntimeModule.java
/FeatureMappingStandaloneSetup.java
/OclMappingRuntimeModule.java
/OclMappingStandaloneSetup.java
