<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel_ocl -->
      <package
            uri="platform:/resource/org.rosi.crom.validation.tests/"
            class="testcase.TestcasePackage"
            genModel="model/testmodel_ocl.genmodel"/>
   </extension>

</plugin>
