/.FeatureMappingIdeModule.xtendbin
/.FeatureMappingIdeSetup.xtendbin
/.OclMappingIdeModule.xtendbin
/.OclMappingIdeSetup.xtendbin
/FeatureMappingIdeModule.java
/FeatureMappingIdeSetup.java
/OclMappingIdeModule.java
/OclMappingIdeSetup.java
